/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  background-color: #FFFFFF;
  color: #000000;
}

h1 {
  color: #000000;
  background-color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  font-style: bold;
}

h2 {
  color: #000000;
  font-style: oblique;
  text-align: center;
  border: 3px solid black;
}

a {
  color: #4169E1;
}

a:hover {
  color: #000000;
  font-size: 15px;


ul {
  background-color: #FFFFFF;
}
